body {
  font-family: monospace;
}

@-webkit-keyframes fade {
  0% {
    color: #f00;
  }
  100% {
    color: #000;
  }
}

@-webkit-keyframes doedoe{
  0%{
    background-color: red;
  }

  5%{
    background-color: yellow;
  }

  50%{
    background-color: red;
  }

  55%{
    background-color: yellow;
  }

  100%{
    background-color: red;
  }
}
@-webkit-keyframes blink{
  0%{
    opacity: 1.0;
  }

  32%{
    opacity: 1.0;
  }
  33%{
    opacity: 0.0;
  }

  65%{
    opacity: 0.0;
  }
  66%{
    opacity: 1.0;
  }
  100%{
    opacity: 1.0;
  }
}


.gocracy{
  -webkit-animation-name: doedoe;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
.blink{
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.hidden { display: none; }

#repl-input, pre, code {
  font-family: "courier new", monospace; font-weight: bold; border: none; font-size: 24px;
  line-height: 1em;
  margin: 0; padding:0;
  background: none;
}
pre.command {
  color: #ccc;
}
pre.error {
  color: #f00;
}

#repl-input { width: 80%;}
#repl-input:focus { border: none; outline: none;}
#repl-wrapl {
  position: fixed;
  bottom: 0px;
  height: 264px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  background: #eee;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
#repl {
  height: 240px;
  overflow: auto;
  width: 100%;
}

#nyan{
  position: fixed;
  left: -300px;
  transition: left 4s ease-in;
}

#pokemon{
  display: none;
  position: fixed;
  top: 200px;
  right: 50px;
  height: 200px;
}

#cheese{
  position: fixed;
  left: -300px;
  transition: left 3s ease-in;
}

#scarfguy{
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -175px;
  top: 200px;
  height: 200px;
}

#goldenaxe{
  display: none;
  position: fixed;
  top: 200px;
  left: 50px;
  height: 200px;
}


#itunes-download {
 position: absolute;
 top: 20%;
 left: 50%;
 font-size: 3em;
 width: 400px;
 margin-left: -220px; 
 text-align: center;
 padding: 20px;
 background: red;
}


#lyrics {
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
}
#lyrics.achtung {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: once;
}  

#logo {
  background: #ce1e46;
  border: 10px solid #ce1e46;
  transform: scale(0.0001);
  transition: transform 4s ease-out;
}

#logo.large {
  transform: scale(1);
}

#logo-wrapper {
  margin-top: 10%;
  text-align: center;
}

