@-webkit-keyframes doedoe{
  0%{
    background-color: red;
  }

  5%{
    background-color: yellow;
  }

  50%{
    background-color: red;
  }

  55%{
    background-color: yellow;
  }

  100%{
    background-color: red;
  }
}

.gocracy{
  -webkit-animation-name: doedoe;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

#repl-input, pre, code {
  font-family: "courier new", monospace; font-weight: bold; border: none; font-size: 24px;
  line-height: 0.8em;
  margin: 0; padding:0;
  background: none;
}
#repl-input:focus { border: none; outline: none;}
#repl-wrapl {
  position: fixed;
  bottom: 0px;
  height: 264px;
  width: 60%;
  left: 50%;
  margin-left: -30%;
}
#repl {
  height: 240px;
  overflow: auto;
  width: 100%;
}

#nyan{
  position: fixed;
  left: -300px;
  transition: left 4s ease-in;
}
